body {
    background-color: #222;
    background-image: url('argyle.png');
    background-repeat: repeat;

    color: #eee;
}

#container {
    max-width: 500px;
    min-width: 320px;
    margin: -42px auto 0 ;
    padding-top: 42px;
}

.gamezone {
    position: relative;
    width: 100%;
    min-height: 250px;
    background-color: #151515;    
    -webkit-box-shadow: 0px 0px 40px 0px #66c810;
          box-shadow: 0px 0px 40px 0px #66c810;
    opacity: .8;
    padding: 1em;

    border: solid 1px #66c810;

  -webkit-border-radius: 20px;
          border-radius: 20px;
 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

.timer, .progress {
    width: 60%;
    margin: 1em auto;
    height: 10px;
}

.timer{
    background-color: #3e343a;
}
.progress{
    background-color: #343e35;
}
.timer span, .progress span {
    background-color: #64485a;
    display: block;
    width: 0%;
    height: 10px;
}

.progress span {
    background-color: #3e5940;
}

.number {
    font-size: 5em;
    text-align: center;
    margin: .3em auto;
    width: 80%;
}

.controls {
    position: absolute;
    top: 34%;
    left: 10%;
    width: 80%;
    text-align: center;
}

.notes {
    text-align: center;
}

button {
    font-size: 1.4em;
    padding: .4em;
    background-color: #33acb7;

}


button:hover {
    background-color: #71a1a5;
}